<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/assets/images/racoon.png">

    <link rel="stylesheet" href="../node_modules/@picocss/pico/css/pico.min.css">

    
    $$CSS_LINKS$$
    
    <title>$$DOCUMENT_TITLE$$</title>
</head>
<body>

<nav>
    <a href="/misc">01_Miscellaneous / introduction to JS</a>
    <a href="/firstserver">02_First_Server / Express</a>
    <a href="/moviesrest">03_Movies_REST_API / REST Api</a>
    <a href="/Date">04_Date / Date in JS</a>
    <a href="/htmlserver">05_HTML_Server / HTML Server</a>
    <a href="/noderepl">06_Online_Node_REPL / Online Node REPL</a>
</nav>