<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/assets/images/racoon.png">
    <link rel="stylesheet" href="/assets/css/main.css">

    $$CSS_LINKS$$

    <title>$$DOCUMENT_TITLE$$</title>
</head>
<body>

<div class="layout">
    <nav class="course-nav">
        <a href="/weekone">01_Miscellaneous / introduction to JS</a>
        <a href="/weektwo">02_First_Server / Express</a>
        <a href="/weekthree">03_Movies_REST_API / REST Api</a>
        <a href="/weekfour">04_Date </a>
        <a href="/weekfive">05_HTML_Server / HTML Server</a>
        <a href="/weeksix">06_Online_Node_REPL / Online Node REPL</a>
        <a href="/weekseven">07_Async_JS / Asynchronous JavaScript</a>
    </nav>

    <div class="content-area">
